@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  padding-left: 0;
  margin: 0;
}

.nav-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar {
  color: #ffffff;
  width: 960px;
  height: 220px;
  position: relative;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  width: 960px;
  padding: 20px;
}

.logo {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 20px;
}

nav > ul > li {
  list-style: none;
  float: left;
  height: 40px;
  line-height: 40px;
}

nav > ul > li > a > .link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

nav > ul {
  position: absolute;
  top: 0;
  right: 300px;
}

.bw-gradient {
  width: 100%;
  height: 200px;
  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.brand-quote {
  color: #0091ea;
  font-size: 50px;
  text-align: center;
  padding-left: 20px;
  position: absolute;
  top: 100px;
}

.hp-container {
  font-family: serif;
  color: #fff;
  text-align: center;
}

.blogs-container {
  color: white;
  text-align: center;
  max-width: 100%;
}

.blog-card {
  position: inherit;
  display: inline-flex;
  width: 15%;
  border: solid;
  color: white;
  background: none;
  text-decoration: none;
}

.blog-container {
  font-family: serif;
  color: #fff;
  text-align: center;
}

.btn {
  width: 130px;
  height: 40px;
  padding: 5px;
  margin: 2.5px;
  background: #0091ea;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
